@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

.header-container {
  background: url('../images/desktop/image-header.jpg') no-repeat center center;
  background-size: cover;
  height: 870px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s ease; 
}

.header-content.scroll-background {
  background-color:hsl(198, 62%, 26%); 
}

.logo .nav {
  padding-left: 0;
}

.nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-link.active {
  font-weight: 700;
}

.creatives {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 66%;
  text-align: center;
}

.creatives h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: #fff;
  font-size: 38px;
  margin: 0;
  padding: 20px 0;
}

.arrow-down {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  text-align: center;
}

.arrow-down i {
  font-size: 90px;
  color: #fff;
}
